{% extends "base.html" %} {% block content %}
<div>
    <h1>SIGN UP SUCCESSFUL</h1>
    <section class="signup-form">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form role="form" method="POST">
                	<div class="col-md-4">
                    <div class="form-group">
                       
                        <label for="experience">Experience</label>
                        <input type="company_name" class="form-control" id="company_name" name="company_name" placeholder="Company Name" required>
                        <input type="position_name" class="form-control" id="position_name" name="position_name" placeholder="Position Name" required>
                        <input type="position_summary" class="form-control" id="position_summary" name="position_summary" placeholder="Position Summary" required>
                        <label for="education">Education</label>
                        <input type="university_name" class="form-control" id="university_name" name="university_name" placeholder="University Name" required>
                        <input type="major_name" class="form-control" id="major_name" name="major_name" placeholder="Major Name" required>
                        <input type="education_summary" class="form-control" id="education_summary" name="education_summary" placeholder="Education Summary" required>
                        <label for="languages">Laguages</label>
                        <input type="language_name" class="form-control" id="language_name" name="language_name" placeholder="Language" required>
                        <label for="skills">Skills</label>
                        <input type="skills" class="form-control" id="skills" name="skills" placeholder="skills">
                        <label for="service">Services</label>
                        <input type="service_name" class="form-control" id="service_name" name="service_name" placeholder="Service Name">
                        <input type="cost" class="form-control" id="cost" name="cost" placeholder="Cost">
                        <!-- <label for="facebook">Facebook</label>
                        <input type="facebook" class="form-control" id="facebook" name="facebook" placeholder="facebook">
                        <label for="linkedin">Linkedin</label>
                        <input type="linkedin" class="form-control" id="linkedin" name="linkedin" placeholder="linkedin"> -->
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}